* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color:#f5f7fb;;
    color: #222;
}
.container{
    max-width:1200px;
    width:80%;
    margin:30px auto;
    padding:25px;
    border:1px solid rgb(239, 243, 244);
    background-color:white;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}
h1{
    text-align:center;
    font-size:42px;
    margin-bottom:25px;
}
#inputText{
    width:70%;
    padding:15px;
    border-radius:10px;
    padding:10px;
    outline:none;
    border:2px solid #ddd;
    font-size:16px;
}
#searchBtn{
    width:10%;
    padding:15px;
    border-radius:10px;
    padding:10px;
    font-size:16px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
#searchBtn:hover {
    background-color: darkblue;
}
 #catFilter {
    padding: 12px 16px;
    margin: 10px;
    min-width: 150px;

    border: 2px solid #e5e7eb;
    border-radius: 10px;

    background-color: white;
    color: #333;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;
    outline: none;

    transition: all 0.3s ease;
}

#catFilter:hover {
    border-color: blue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

#catFilter:focus {
    border-color: blue;
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.1);
}
#prodCard{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    width:100%;
    margin-top:30px;
}
.cards{
    border:1px solid #ddd;
    border-radius:12px;
    padding:20px;
    text-align:center;
    background-color:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.prodImg{
    width:200px;
    height:200px;
    object-fit:contain;
    margin-bottom:15px;
}
.prodName{
    font-size:20px;
    font-weight:bold;
    margin-bottom:8px;
}
.prodPrice {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.prodCat {
    color: #666;
    margin-bottom: 15px;
}
.cartBtn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.cartBtn:hover {
    background-color: #333;
}
@media (max-width: 800px) {
    #prodCard {
        grid-template-columns: repeat(2, 1fr);
    }

    #inputText {
        width: 60%;
    }
    #searchBtn{
        width:15%;
    }
}

/* Mobile */

@media (max-width: 550px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 30px;
    }

    #inputText {
        width: 100%;
        margin-bottom: 10px;
    }

    #searchBtn {
        width: 100%;
        margin-bottom: 10px;
    }

    #categoryFilter {
        width: 100%;
        margin-left: 0;
    }

    #prodCard {
        grid-template-columns: 1fr;
    }

    .prodImg {
        width: 160px;
        height: 160px;
    }
}

img{
    width:100px;
}